body{
    height: 100vh;
    background-color: rgb(0, 0, 7);

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    gap: 2%;
    background-color: rgb(228, 228, 228);
    padding:  3px 3px 3px 0px;
    width: 90%;
    border-radius: 10px;
    height: 3vw;
}
.scrolle{
    
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch; /* Pour un bon scroll sur iOS */
    }

nav{
    margin-left: 30vw; 
    display: flex;
    overflow-x: auto;
    white-space:nowrap;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;             
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
  
}



a{
    flex: 0 0 auto;
    scroll-snap-align: start; 
    padding: 4px;
    color:rgb(48, 2, 85);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    position: relative;
    display: inline-block;

}


a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(9, 8, 107);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

    
.image{
    height: auto;
    height: 6vh;
    width: 3.5%;
    margin-left: 1vw;
    border-radius: 50%;
    background-image: url(./IMG_20250606_122218_254.jpg);
    background-position: center;
    background-size: cover;
}
.mail{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.propos{
    width: 40%;
    margin-left: 20%;
    
}
p{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: rgb(255, 255, 255);
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and   (max-width:600px){
    section{
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .menu{
    background-color: rgb(159, 159, 163);
    width: 100%;
    border-radius: 0;
    height: 5vh;
    padding: 3px 3px 0 0px;
    }
    .image{
    height: auto;
    height: 5vh;
    width: 12vw;
    margin: 2px;
    border-radius: 50%;
    background-image: url(./IMG_20250606_122218_254.jpg);
    background-position: center;
    background-size: cover;
    }

    nav{
    gap: 1.2vw;
    display: flex;
    
    margin-top: 2.3vh;
    margin-left: 0.1vw;
    margin-bottom: 0;


    }

    a{
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.3s;
    font-size: 0.76rem;
    color: rgb(76, 238, 238);
    padding: 5px;
    
    }
    
    a:hover{
        background-color: black;
        color: aqua;
        border-radius: 8px 8px 0 0;
        transition: width 0.3s ease;
    }
    
    a.active {
    background-color: black;
    background-color: black;
    color: aqua;
    border-radius: 8px 8px 0 0;
    transition: width 0.3s ease;
   
    }
    
    .mail{
    color: black;
    width: 0;
    font-size: 0;
    opacity: 0;
    }
    .propos{
    width: 90%;
    margin-left: 2vw;
    
    }
    p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h1{
    color: rgb(255, 255, 255);
    margin-left: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    }
    
    a:hover::after {
    width: 0%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
     section{
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .menu{
    background-color: rgb(159, 159, 163);
    width: 100%;
    border-radius: 0;
    height: 5vh;
    padding: 3px 3px 0 0px;
    }
    .image{
    height: auto;
    height: 4.5vh;
    width: 5.5vw;
    margin-left: 1vw;
    border-radius: 50%;
    background-image: url(./IMG_20250606_122218_254.jpg);
    background-position: center;
    background-size: cover;
    }

    nav{
    gap: 1.5vw;
    display: flex;
    margin-top: 2.6vh;
    margin-left: 30%;
    margin-bottom: 0;


    }

    a{
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.3s;
    font-size: 1rem;
    color: rgb(76, 238, 238);
    padding: 5px;
    
    }
    
    a:hover{
        background-color: black;
        color: aqua;
        border-radius: 8px 8px 0 0;
        transition: width 0.3s ease;
    }
    
    a.active {
    background-color: black;
    color: aqua;
    border-radius: 8px 8px 0 0;
    transition: width 0.3s ease;
   
    }
    
    .mail{
    color: black;
    width: 0;
    font-size: 0;
    opacity: 0;
    }
    a:hover::after {
    width: 0%;
    }
    .propos{
    width: 80%;
    margin-left: 5vw;
    
    }
 
}
