body{
    height: 100vh;
    background-color: rgb(0, 0, 7);
}
    header{
        width:98%;
        display: flex;
        align-items: center;
        background-color:rgb(213, 212, 255);
        margin: 5px;
        border-radius: 5px;
        margin-left: 1%;
        padding: 10px;

        
    }
    .logo{
        width: 5vw;
        height: 10vh;
        margin-left: 2vw;
        border-radius: 50%;
    }
    nav{
        text-align: center;
        margin-left: 18vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
        list-style: none;
        display: flex;   
        flex-wrap: wrap;
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 16px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #07001f;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 0%;
        height: 2px;
        background: #002731;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
    }
    nav a.active::after {
        width: 100%;
    }


.mail{
    margin-left: 3vw;
    font-family: 'Montserrat';
    color: black;
    font-size: 18px;
}

.logoM{
    background-image: url(./Mail\ icon.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30vw;
    margin-right: 2vw;
    margin-bottom: 2vh;

}
.logoW{
    background-image: url(./Whatsapp\ icon.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30vw;
    margin-right: 2vw;
}
p{
    color: white;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;

}
.h3{
    color: rgb(255, 255, 255);
    margin-top:30vh;
    margin-left: 30vw;
    margin-bottom: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.a{
    color: rgb(255, 255, 255);
    margin-top: 1%;

}
.maill{
    display: flex;
}
.whatsapp{
    display: flex;

}
body {
    opacity: 0;
    transition: opacity 1.2s ease-in-out; /* durée : 1.2s */
    }

    body.loaded {
    opacity: 1;
    }

@media screen and   (max-width:600px){
    body{
    height: 100vh;
    background-color: rgb(0, 0, 7);
}
    header{
        width:98%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color:rgb(213, 212, 255);
        margin: 5px;
        border-radius: 5px;
        margin-left: 1%;
        padding: 5px;
        padding-bottom: 0;
        
    }
    .logo{
        width: 10vw;
        height: 5vh;
        margin-left: 2vw;
        border-radius: 50%;
    }
    nav{
        text-align: center;
        margin-left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        list-style: none;
        display: flex;   
        flex-wrap: wrap;
         margin-bottom: 0;
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 14px;
        font-family:'Montserrat';
        font-weight: bold;
       
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px; 
        width: 0%;
        height: 2px;
        background: #000000;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
        
    }
    nav a.active::after {
        width: 100%;
        
    }
    a:hover{
        background-color: black;
        color: aqua;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        transition: width 0.3s ease;
    }
    
    a.active {
    background-color: black;
    padding: 5px;
    color: aqua;
    border-radius: 5px 5px 0 0;
    transition: width 0.3s ease;
   
    }

.mail{
    margin-left: 3vw;
    font-family: 'Montserrat';
    color: black;
    font-size: 14px;
}





   
.logoM{
    background-image: url(./Mail\ icon.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 14vw;
    margin-right: 2%;
    margin-bottom: 8px;

}
.logoW{
    background-image: url(./Whatsapp\ icon.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 14vw;
    margin-right: 3vw;
}
p{
    color: white;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;

}
.h3{
    color: rgb(255, 255, 255);
    margin-top:11vh;
    margin-left: 5vw;
    margin-right: 3vw;
    margin-bottom: 8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.maill{
    display: flex;
    
}
.whatsapp{
    display: flex;

}


a:hover::after {
  width: 0%;
}

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
    opacity: 0;
    transition: opacity 1.8s ease-in-out; /* durée : 1.2s */
    }

    body.loaded {
    opacity: 1;
    }
     section{
    margin-left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .menu{
    background-color: rgb(159, 159, 163);
    width: 100%;
    border-radius: 0;
    height: 5vh;
    padding: 3px 3px 0 0px;
    }
    .image{
    height: auto;
    height: 4.5vh;
    width: 5.5vw;
    margin-left: 1vw;
    border-radius: 50%;
    background-image: url(./IMG_20250606_122218_254.jpg);
    background-position: center;
    background-size: cover;
    }

    nav{
    gap: 1.5vw;
    display: flex;
    margin-top: 2.6vh;
    margin-left: 30%;
    margin-bottom: 0;


    }

    a{
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.3s;
    font-size: 1rem;
    color: rgb(76, 238, 238);
    padding: 5px;
    
    }
    
    a:hover{
        background-color: black;
        color: aqua;
        border-radius: 8px 8px 0 0;
        transition: width 0.3s ease;
    }
    
    a.active {
    background-color: black;
    color: aqua;
    border-radius: 8px 8px 0 0;
    transition: width 0.3s ease;
   
    }
    
    .mail{
    color: black;
    width: 0;
    font-size: 0;
    opacity: 0;
    }
    a:hover::after {
    width: 0%;
    }
 
}
